{% extends 'crm/layout.html' %}
{% load static %}

{% block head %}
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/dashboardStyles.css' %}">
{% endblock %} 

{% block body %}
<div class="container-fluid">

    {% include 'crm/status.html' %}

    <div class="row mt-4">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title mb-5">Customers</h3>
                    <a href="{% url 'index' %}" class="btn btn-primary mb-4">Create Customer</a>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for customer in customers %} 
                                <tr>
                                    <td>{{ customer.name }}</td>
                                    <td>{{ customer.email }}</td>
                                    <td>
                                        <a href="{% url 'customer' customerID=customer.id %}" class="btn btn-info btn-sm">View Info</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Last 5 Orders</h5>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Date Ordered</th>
                                <th scope="col">Status</th>
                                <th scope="col">Update</th>
                                <th scope="col">Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>{{ order.product }}</td>
                                    <td>{{ order.date_created }}</td>
                                    <td>{{ order.status }}</td>
                                    <td>
                                        <a href="{% url 'updateOrder' order.id %}" class="btn btn-primary btn-sm">Update</a>
                                    </td>
                                    <td>
                                        <a href="{% url 'deleteOrder' order.id %}" class="btn btn-danger btn-sm">Remove</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}