{% extends 'crm/layout.html' %}
{% load static %}

{% block body %}
<div class="row">
    <div class="col-md-6">
        <div class="card card-body">

            <form action="" method="POST">
                {% csrf_token %}
                {{ formset.management_form }}
                {% for form in formset %}
                    {{ form }}
                    <hr>
                {% endfor %}
                <input class="btn btn-primary" type="submit">
            </form>
        </div>
    </div>
    {% endblock %}
</div>