<div class="row">
    <div class="col-lg-4">
        <div class="card bg-primary text-white">
            <div class="card-body">
                <h5 align="center" class="card-title">Total Orders</h5>
                <hr>
                <p align="center" class="card-text">{{ ordersCount }}</p>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card bg-success text-white">
            <div class="card-body">
                <h5 align="center" class="card-title">Orders Delivered</h5>
                <hr>
                <p align="center" class="card-text">{{ ordersDelivered }}</p>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card bg-warning text-white">
            <div class="card-body">
                <h5 align="center" class="card-title">Orders Pending</h5>
                <hr>
                <p align="center" class="card-text">{{ ordersPending }}</p>
            </div>
        </div>
    </div>
</div>